

body{
  background-color: #d9d9d9
}

.Itunes {
    width: 80%;
    margin: 0 auto;
  }
  
  .Itunes .logo {
    width: 100%;
    max-width: 600px;
  }
  
  .Itunes input {
    font-family: "Helvetica", serif;
    box-sizing: border-box;
    width: 80%;
    padding: 10px;
    font-size: 24px;
    background-clip: padding-box;
    border-color: rgba(0,0,0,0.25);
    border-radius: 5px;
    line-height: 20px;
    border: 1px solid #d1d5da;
  
  }
  
  .Itunes button {
    color: white;
    margin-top: 10px;
    width: 80%;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid #01638f;
    margin-bottom: 50px;
    background-color: black;
    font-family: "Helvetica", serif;
  }

  .Itunes .input{
    text-align: center;
  }


.ItunesInfo .image {
  width: 200px;
  height: 200px;
  border-style:double;
  border-width: 30px;
  border-color: black;
 
}
.ItunesInfo .box {
  width: 100%;
  height: 100%;
  border-style:double;
  border-width: 30px;
  border-color: black;
 
}